.submission-wrapper {
    padding: 10px;
    margin-top: 10px;
}

.tick-green {
    color: #2ecc71;
}

.cross-red {
    color: #c0392b;
}

.warning-yellow {
    color: #f39c12;
}

.valid-output {
    color: #2ecc71
}

.error-output {
    color: #c0392b;
}

.dt-body-center {
    text-align: center;
}

#submissions th {
    background-color: #2ecc71;
    color: #FFFFFF;
}